table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid black;
  width: 33.33%;
  height: 100px;
  text-align: center;
  font-size: 50px;
}

.g {
  justify-content: center;
  display: flex;
}
